<div ng-include="'views/claims/header.html'"></div>
<h2>My CLAIMS</h2>
<p><label for="userFilter">Filter by : </label><input id="userFilter" type="text" ng-model="cfilter">
</p>
<table class="animate-container">
    <tr>
        <th>
            id
        </th>
        <th ng-click="orderBy('claimState.name')">
            state
        </th>
        <th ng-click="orderBy('permission.title')">
            permission
        </th>
        <th ng-click="orderBy('permission.resource.name')">
            resource
        </th>
        <th>Created</th>
        <th>Approved</th>
        <th>Granted</th>
        <th>Revoked</th>
        <th></th>
    </tr>
    <tr ng-repeat="item in claims  | filter : cfilter | orderBy:claimOrderBy"
        class="animate-repeat"
        ng-click="setEditedItem(item)">
        <td>{{ item.id }}</td>
        <td>{{ item.claimState.name }}</td>
        <td>{{ item.permission.title }}</td>
        <td>{{ item.permission.resource.name }}</td>
        <td>{{ item.claimedAt | asDate | date:'short' }}</td>
        <td>{{ item.approvedAt | asDate | date:'short' }}</td>
        <td>{{ item.grantedAt | asDate | date:'short' }}</td>
        <td>{{ item.revokedAt | asDate | date:'short' }}</td>
        <td><span ng-if="item.claimState.id == 0">cancel</span>
        </td>
    </tr>
</table>
<hr/>
<button type="button" ng-click="newClaimsWizard()" ng-show="!newClaimSteps">New Claim</button>
<div ng-show="newClaimSteps">
    <h3>Select Resources</h3>
    <table class="animate-container">
        <tr>
            <th>
                Resource
            </th>
            <th>
                Claim
            </th>
            <th style="width: 300px;">
                Permissions
            </th>
        </tr>
        <tr ng-repeat="resource in resources"
            class="animate-repeat">
            <td>{{ resource.name }}<br/><em>{{ resource.detail }}</em>
            </td>
            <td><input type="checkbox" ng-model="resource.claimed" ng-click="getPermissionsByResource(resource)"/></td>
            <td>
                <div ng-show="resource.claimed" class="animate-repeat">
                    <ul>
                        <li ng-repeat="permission in resource.permissions"><input type="checkbox"
                                                                                  ng-model="permission.claimed"/>{{
                            permission.title }}
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>
<button type="button" ng-click="submitClaims()" ng-show="isAnyResourcesClaimed() && newClaimSteps">Submit</button>
