body {
    padding: 5px;
}

a {
    padding: 5px;
}

.has-error {
    color: red;
    background-color: orange;
    border-color: black;
    padding: 20px;
}

.activerow {
    color: red;
}

.disabledrow {
    text-decoration: line-through;
    color: #666666;
}

.commands {
    color: blue;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

form, input {
    padding: 8px;
    font-size: medium;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

.fade.ng-leave {
    transition: 0.5s linear all;
    opacity: 1;
}

.fade.ng-leave.ng-leave-active {
    opacity: 0;
}

.animate-container {
    background: white;
    border: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0 10px;
}

.animate-repeat {
    /*line-height:30px;*/
    box-sizing: border-box;
    /*display: block;*/
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    transition: all linear 0.6s;
}

.animate-repeat.ng-leave {
    transition: all linear 0s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity: 0;
    max-height: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 30px;
}