<p>
<div class="commands" ng-click="setCreation()" ng-show="isAdmin">Create new Permission</div></p>
<div class="commands" ng-click="getAll()">Refresh</div></p>
<p><label for="nameFilter">Filter by name : </label><input id="nameFilter" type="text" ng-model="nameFilter">
</p>
<table class="animate-container">
    <tr>
        <th>id</th>
        <th>title</th>
        <th>description</th>
        <th>resource</th>
        <th></th>
    </tr>
    <tr ng-repeat="item in items | filter : nameFilter "
        class="animate-repeat"
        ng-class="{'activerow':isCurrentItem(item.id)}"
    >
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.resource.name }}</td>
        <td><img src="img/edit.png" ng-click="setEditedItem(item)"/>
            <img src="img/delete.png" ng-click="setDeleteItem(item)"/></td>

    </tr>
</table>

<div ng-if="isCreation">
    <hr/>
    <form class="create-form" role="form" ng-submit="createItem(newItem)" novalidate>
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" ng-model="newItem.title"/></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" ng-model="newItem.description"/></td>
            </tr>

            <tr>
                <td>Resource</td>
                <td>
                    <select name="typeSelect" id="typeSelect"
                            ng-options="resource.name for resource in availableResources  track by resource.id"
                            ng-model="newItem.resource"
                    >
                    </select>
                </td>
            </tr>
            <tr>
                <td>Register</td>
                <td>
                    <button type="submit" ng-disabled="!isFormValid(newItem)">Create Permission</button>
                </td>
            </tr>
        </table>
    </form>
    <hr/>
</div>
<div ng-if="isEditing">
    <hr/>
    <h4>Editing {{editedItem.name}}</h4>
    <form class="update-form" role="form" ng-submit="updateItem(editedItem)" novalidate>
        <table>
            <tr>
                <td>Id</td>
                <td><input type="text" ng-model="editedItem.id" readonly/></td>
            </tr>
            <tr>
                <td>Title</td>
                <td><input type="text" ng-model="editedItem.title" readonly/>
                </td>
            </tr>

            <tr>
                <td>Resource</td>
                <td>
                    <select name="resource" id="resource"
                            ng-options="resource.name for resource in availableResources  track by resource.id"
                            ng-model="editedItem.resource"
                    >
                    </select>
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" ng-model="editedItem.description"/></td>
            </tr>

            <tr>
                <td>
                    <button type="button" ng-click="leaveEditing()">Cancel</button>
                </td>
                <td>
                    <button type="submit">Update Permission</button>
                </td>
            </tr>
        </table>
    </form>
    <hr/>
</div>

<div ng-if="isDelete">
    Confirm delete <strong>[ {{ deletedItem.title }} ]</strong>?
    <button ng-click="deleteItem(deletedItem)">DELETE</button>
</div>

</div>
