<p>
<div class="commands" ng-click="setCreation()" ng-show="isAdmin">Create new Resource</div></p>
<div class="commands" ng-click="getAll()">Refresh</div></p>
<p><label for="nameFilter">Filter by name : </label><input id="nameFilter" type="text" ng-model="nameFilter">
</p>
<table class="animate-container">
    <tr>
        <th>id</th>
        <th>resource type</th>
        <th>name</th>
        <th>detail</th>
        <th>owners</th>
        <th></th>
    </tr>
    <tr ng-repeat="item in items | filter : nameFilter "
        class="animate-repeat"
        ng-class="{'activerow':isCurrentItem(item.id)}"
    >
        <td>{{ item.id }}</td>
        <td>{{ item.resType.name }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.detail }}</td>
        <td>{{ item.ownerPermission.title }}</td>
        <td><img src="img/edit.png" ng-click="setEditedItem(item)"/>
            <img src="img/delete.png" ng-click="setDeleteItem(item)"/></td>

    </tr>
</table>

<div ng-if="isCreation">
    <hr/>
    <form class="create-form" role="form" ng-submit="createItem(newItem)" novalidate>
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" ng-model="newItem.name"/></td>
            </tr>
            <tr>
                <td>Detail</td>
                <td><input type="text" ng-model="newItem.detail"/></td>
            </tr>

            <tr>
                <td>Type</td>
                <td>
                    <select name="typeSelect" id="typeSelect"
                            ng-options="resType.name for resType in availableResTypes  track by resType.id"
                            ng-model="newItem.resType"
                    >
                    </select>
                </td>
            </tr>
            <tr>
                <td>Register</td>
                <td>
                    <button type="submit" ng-disabled="!isFormValid(newItem)">Create Resource</button>
                </td>
            </tr>
        </table>
    </form>
    <hr/>
</div>
<div ng-if="isEditing">
    <hr/>
    <h4>Editing {{editedItem.name}}</h4>
    <form class="update-form" role="form" ng-submit="updateItem(editedItem)" novalidate>
        <table>
            <tr>
                <td>Id</td>
                <td><input type="text" ng-model="editedItem.id" readonly/></td>
            </tr>
            <tr>
                <td>Type</td>
                <td><input type="text" ng-model="editedItem.resType.name" readonly/>
                </td>
            </tr>

            <tr>
                <td>Owner</td>
                <td>
                    <select name="ownerPermission" id="ownerPermission"
                            ng-options="permission.title for permission in availablePermissions  track by permission.id"
                            ng-model="editedItem.ownerPermission"
                    >
                    </select>
                </td>
            </tr>

            availablePermissions

            <tr>
                <td>Name</td>
                <td><input type="text" ng-model="editedItem.name"/></td>
            </tr>

            <tr>
                <td>Detail</td>
                <td><input type="text" ng-model="editedItem.detail"/></td>
            </tr>

            <tr>
                <td>
                    <button type="button" ng-click="leaveEditing()">Cancel</button>
                </td>
                <td>
                    <button type="submit">Update Resource
                    </button>
                </td>
            </tr>
        </table>
    </form>
    <hr/>
</div>

<div ng-if="isDelete">
    Confirm delete <strong>[{{ deletedItem.name }}]</strong>?
    <button ng-click="deleteItem(deletedItem)">DELETE</button>
</div>

</div>
