<form class="login-form" role="form" ng-submit="handleLogin()" novalidate>
    Username : <input type="text" ng-model="username"/>
    Password : <input type="password" ng-model="password"/>
    <br/>
    Login :
    <button type="submit">Login</button>
</form>

--- DEMO login table ---
<table>
    <tr>
        <td><a style="color:blue;" ng-click="logingAsAdmin()">login as admin</a></td>
    </tr>
    <tr>
        <td><a style="color:blue;" ng-click="logingAsUser1()">login as "johns"</a></td>
    </tr>
    <tr>
        <td><a style="color:blue;" ng-click="logingAsUser2()">login as "billk"</a></td>
    </tr>
    <tr>
        <td><a style="color:blue;" ng-click="badLoginAsUser1()"> BAD login as "johns"</a></td>
    </tr>
</table>

<br/>
<div ng-show="loginError">{{loginError}}</div>
